<a href="https://colab.research.google.com/github/karthik-vsc/firstrepo/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#to give inncrement of 2 to every students whose score is less than 70
scores=[56,71,67,90,85]
[score+2 if score<70 else score for score in scores]

[58, 71, 69, 90, 85]

In [13]:
#to get the students whose name starts with 's'
import re
students=['Sara','Sam','sahil','jane','jasmin']
[student for student in students if student.upper().startswith('S')]

['Sara', 'Sam', 'sahil']

In [12]:
#[20,60,120,200]->[1*20,2*30,3*40,4*59]
[i*j for i,j in zip(range(1,5),range(20,60,10))]

[20, 60, 120, 200]

In [24]:
#numtiple every even element by 10 and odd element by 5
numbers=[10,21,36,57,45]
[num*10 if num%2==0 else num*5 for num in numbers]

[100, 105, 360, 285, 225]

In [28]:
#mult 10 for every even index and 5 for every odd index
[num*10 if id%2==0 else num*5 for id,num in enumerate(numbers)]

[100, 105, 360, 285, 450]

In [1]:
#tuple comprehension will return an generator, we need to typecast to convert into tuple
t=(i for i in range(10))
t

In [9]:
#write a prog to generate a dict with keys as ID , values as names using dict comprehension
names=['Sara','Sam','sahil','Jane','jasmine']
{f"S{idx}":name for idx,name in enumerate(names,1) if not name.lower().startswith('s')}

{'S4': 'Jane', 'S5': 'jasmine'}

In [3]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [7]:
details=[('harry',36),('berry',96),('Sam',56)]
def get_second(x):
  return x[1]
sorted(details,key=get_second)

[('harry', 36), ('Sam', 56), ('berry', 96)]

**Lambda function** : shorthand to write one line function that takes mutiple arguments and returns respective results

In [8]:
sorted(details,key=lambda x:x[1])

[('harry', 36), ('Sam', 56), ('berry', 96)]

In [16]:
details=[('Nazira','5.6 feets','68 years'),
          ('Harry','6 feets','40 years'),
          ('Berry','5.2 feets','15 years')]
sorted(details,key=lambda x:int(x[2].split(' ')[0]))

[('Berry', '5.2 feets', '15 years'),
 ('Harry', '6 feets', '40 years'),
 ('Nazira', '5.6 feets', '68 years')]